<!-- CTA / Secondary -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="p0-15-30" style="padding: 20px 40px 50px 40px;">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="h3 center pb15" style="color:#000000; font-family:Arial, sans-serif; font-size:22px; line-height:32px; text-align:center; padding-bottom:15px;">
            Yêu cầu lấy lại mật khẩu.
          </td>
        </tr>
        <tr>
          <td class="text center pb15" style="color:#666666; font-family:Arial, sans-serif; font-size:15px; line-height:28px; text-align:center; padding-bottom:15px;">
            Xin chào <b><%= @user.email %></b>, tài khoản được yêu cầu lấy lại mật khẩu, nếu hành động này do bạn thực
            hiện xin
            hãy click vào link bên dưới để tiếp tục hoặc bỏ qua nếu không phải bạn.
          </td>
        </tr>
        <tr>
          <td class="text-link" style="color:#0000ee; font-family:Arial, sans-serif; font-size:16px; line-height:28px; text-align:left; text-align: center;">
            <a href="<%= ENV["APP_URL"] %>/change_password/<%= @user.reset_password_token %>" target="_blank" class="link-u" style="color:#0000ee; text-decoration:underline;"><span class="link-u" style="color:#0000ee; text-decoration:underline;">Đổi mật khẩu</span></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="1" bgcolor="#e5e5e5" class="img" style="font-size:0pt; line-height:0pt; text-align:left;">&nbsp;</td>
  </tr>
  <tr>
    <td style="padding-top: 40px;"></td>
  </tr>
</table>
<!-- END CTA / Secondary -->
